@{
    ViewData["Title"] = "Index";
}
@model List<KDemia.Models.Course>
@if (Model.Count == 0)
{
    <div class="alert alert-danger col-md-4 mb-2">Henüz Ürün Eklenmedi!</div>
}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Kurslar</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.courseName</td>
                    <td>@course.Description</td>
                    <td>
                        <a asp-action="Update" asp-controller="Courses" class="btn btn-primary btn-sm" asp-route-id="@course.Id">Update</a>
                        <a asp-action="Delete" asp-controller="Courses" class="btn btn-danger btn-sm" asp-route-id="@course.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Courses" asp-action="Add" class="btn btn-success btn-sm">Yeni Kurs Ekle</a>

</div>
